.app-header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  flex-shrink: 0;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

@media (max-width: 650px) {
  .app-header {
    padding: 0 15px;
  }
}
